@charset "UTF-8";
/* Diese Regel nicht verändern! */
div {
  background-color: black;
  position: absolute;
}

/* Deine Parameter: */
/* Ab hier deine Regeln :-) */
.el-1 {
  top: 15%;
  bottom: 15%;
  left: 32.25%;
  right: 32.25%;
}

.el-2 {
  background-color: white;
  top: 18%;
  bottom: 22.5%;
  left: 37.5%;
  right: 33.9%;
}

.el-3 {
  background-color: #404040;
  top: 21%;
  bottom: 28.5%;
  left: 40.5%;
  right: 34.5%;
}

.el-4 {
  background-color: white;
  top: 24%;
  bottom: 34.5%;
  left: 43.5%;
  right: 35.25%;
}

.el-5 {
  background-color: #808080;
  top: 28.5%;
  bottom: 40.5%;
  left: 46.5%;
  right: 36%;
}

.el-6 {
  background-color: white;
  top: 32.25%;
  bottom: 46.5%;
  left: 49.5%;
  right: 36.9%;
}

.el-7 {
  background-color: #C0C0C0;
  top: 36%;
  bottom: 52.5%;
  left: 52.5%;
  right: 37.5%;
}

.el-8 {
  background-color: white;
  top: 39.75%;
  bottom: 57%;
  left: 55.5%;
  right: 38.1%;
}
